
/*----------------------------------------------------- Colors */

.txt-color-1 {
    color: #131f53;
}

.txt-color-2 {
    color: #ffffff;
}

.bg-color-1 {
    background-color: #131f53;
}

.bg-color-2 {
    background-color: #db0008;
}

/*----------------------------------------------------- General */

p {
    margin-bottom: 0;
}

/*----------------------------------------------------- Main Section */

.logo-row {
    margin-top: 56px;
}

.logo {
    max-width: 40%;
}

.btn-primary {
    background-color: #db0008;
    border-color: #db0008;
}

/*----------------------------------------------------- Borders */

.first-border {
    margin-top: 66px;
}

.border-danger  {
    border-color: #db0008;
}

hr {
    opacity: 100%;
}